html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .fill-height {
    height: 100vh;
  }
  
  .fill-width {
    width: 100vw;
  }
  
  .v-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }